<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="may_arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.017861 0.044121 0.00019601"
        rpy="0 0 0" />
      <mass
        value="33.306" />
      <inertia
        ixx="0.21612"
        ixy="-0.00060211"
        ixz="-7.1495E-09"
        iyy="1.8165"
        iyz="-2.4076E-08"
        izz="1.8171" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.071579 0.032123 -0.00023938"
        rpy="0 0 0" />
      <mass
        value="1.432" />
      <inertia
        ixx="0.00076237"
        ixy="1.8876E-05"
        ixz="3.1453E-05"
        iyy="0.011059"
        iyz="-3.4159E-08"
        izz="0.010388" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="fixed">
    <origin
      xyz="-0.28306 -0.0023143 0.18309"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.19361 0.052528 -0.0036913"
        rpy="0 0 0" />
      <mass
        value="2.0964" />
      <inertia
        ixx="0.00072797"
        ixy="-2.0006E-06"
        ixz="-0.00042827"
        iyy="0.023253"
        iyz="-1.1203E-08"
        izz="0.022851" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="fixed">
    <origin
      xyz="0.32463 0.005 -0.0010683"
      rpy="3.1416 -0.0032638 3.1416" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.0026851 -7.2353E-06 8.0941E-06"
        rpy="0 0 0" />
      <mass
        value="0.10675" />
      <inertia
        ixx="2.397E-05"
        ixy="7.8665E-11"
        ixz="-4.8244E-11"
        iyy="3.5203E-05"
        iyz="-2.5132E-09"
        izz="3.5204E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="fixed">
    <origin
      xyz="-0.4276 0.1842 -0.0082182"
      rpy="2.9911 0 -1.5708" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.071579 0.032123 -0.00023938"
        rpy="0 0 0" />
      <mass
        value="1.432" />
      <inertia
        ixx="0.00076237"
        ixy="1.8876E-05"
        ixz="3.1453E-05"
        iyy="0.011059"
        iyz="-3.4159E-08"
        izz="0.010388" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="fixed">
    <origin
      xyz="0.1892 -0.839 0.50165"
      rpy="0 -0.15379 1.5708" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-0.19361 0.052528 -0.0036913"
        rpy="0 0 0" />
      <mass
        value="2.0964" />
      <inertia
        ixx="0.00072797"
        ixy="-2.0006E-06"
        ixz="-0.00042827"
        iyy="0.023253"
        iyz="-1.1203E-08"
        izz="0.022851" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="fixed">
    <origin
      xyz="0.32463 0.005 -0.0010683"
      rpy="3.1416 -0.0032638 3.1416" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="0.0026851 -8.0542E-06 -7.373E-06"
        rpy="0 0 0" />
      <mass
        value="0.10675" />
      <inertia
        ixx="2.397E-05"
        ixy="7.8654E-11"
        ixz="-4.8276E-11"
        iyy="3.5204E-05"
        iyz="2.5211E-09"
        izz="3.5203E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://may_arm/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="fixed">
    <origin
      xyz="-0.42760427363579 0.1842 -0.00821817908117778"
      rpy="2.99106885340536 0 -1.5707963267949" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
